/* Style */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap');

:root {
    --button: rgb(120, 191, 14);
    --main-white: #fff;
    --main-black: #444;
}

* {
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
    margin: 0;
}

body {
    background: radial-gradient(rgb(215, 80, 80), rgb(72, 72, 226));
}

.store-name {
    font-style: italic;
}

/* navigation */

header {
    position: fixed;
    width: 100%;
}

.nav {
    background-color: var(--main-black);
    color: var(--main-white);
    font-size: 2rem;
    height: 3.6rem;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

label {
    color: var(--main-white);
}

.search-wrapper {
    display: flex;
    width: 20rem;
    margin-top: 0.5rem;
}

#search {
    width: 100%;
    height: 40px;
}

/* Cart */

#cart-icon {
    transition: 1s;
}

.cart-container {
    position: fixed;
    right: 1rem;
    background-color: var(--main-white);
    color: var(--main-black);
    font-size: 1rem;
    padding: 1rem;
    transition: .5s;
    display: none;
    min-height: 50vh;
    min-width: 40vh;
    border: 1px solid #444;
    border-radius: 5px;
}

.cart-container.active {
    display: grid;
    justify-items: center;
    transition: 1.5s;
}

.cart-title {
    font-size: 20px;
}

.cart-line {
    width: 11rem;
    position: absolute;
    top: 2.5rem;
}

.cart-item {
    display: flex;
    align-items: center;
}

.total,.detail-box {
    display: flex;
    padding: 0.5rem;
}

.cart-product-price {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.product-quantity:focus {
    outline-color: green;
}

.total {
    font-size: 1.5rem;
    font-weight: bold;
}

.total-title {
    margin-right: 1rem;
}

.product-quantity {
    width: 2.5rem;
    height: 1.5rem;
}

.product-remove {
    cursor: pointer;
}

.btn-buy {
    position: absolute;
    bottom: 1rem;
}

#cart-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
}

/* Layout */

main {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    padding-top: 4.6rem;
}

#movie-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 70%;
    gap: 1rem;
}

/* Sidebar */

.sort-wrapper {
    padding-bottom: 1rem;
}

.sidebar-wrapper {
    padding-right: 1rem;
}

.sidebar-filter {
    background-color:rgb(253, 245, 234);
    border: 2px solid #444;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
}

hr {
    height: 2px;
    margin-top: 1rem;
    background-color: var(--main-black);
}

.filter-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    line-height: 2rem;
}

.filter-list li label {
    color: var(--main-black);
}

#clear-btn{
    background-color: var(--main-white);
    font-weight: bold;
    width: 6rem;
    height: 2rem;
    color: var(--button);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#clear-btn:hover {
    background-color: green;
    color: white;
}

/* Cards */

.cards {
    border: 2px solid #444;
    background-color:  rgb(253, 245, 234);
    border-radius: 10px;
    text-align: center;
    line-height: 2.5rem;
    padding: 1rem;
}

.cards:hover {
    background-color: blanchedalmond;
}

.poster {
    width: 5rem;
    margin-top: 1rem;
}

.genre {
    font-style: italic;
}

.price {
    font-weight: bold;
}

.btn {
    background-color: var(--button);
    font-weight: bold;
    width: 12rem;
    height: 2rem;
    color: var(--main-white);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: green;
}

/* Pagination */

.pagination {
    text-align: center;
    padding: 1rem;
}

.pagination-button {
    background-color: var(--main-white);
    color: var(--main-black);
    font-weight: bold;
    border-radius: 5px;
    margin: 0.2rem;
    padding: 0.5rem;
}
/* Footer */

footer {
    background-color: var(--main-black);
    color: var(--main-white);
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}


/* MEDIA */

@media (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #movie-grid {
        display: grid;
        grid-template-columns: 1fr;
        width: fit-content;
        gap: 1rem;
    }
    .search-wrapper {
        width: 10rem;
    }
    hr{
        display: none;
    }
    .filter-list-wrapper {
        display: none;
    }
    .store-name {
        font-size: 20px;
    }
}

@media (max-width: 770px) and (min-width: 601px) {
    #movie-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: fit-content;
        gap: 1rem;
    }
}